<title>Pokémon IV & Stat Calculator</title>
<meta name="Author" content="Uwazouri" />
<meta name="Author" content="Heracles Papatheodorou" />
<meta name="keywords" content="Pokemon, Pokémon, IVs, IV, Calculator, Individual, Values, Stats, Stat, Hidden Power" />
<meta name="description" content="This IV Calculator / Stat Calculator / Hidden Power Calculator aims to help Pokemon trainers calculate the attributes of their Pokemon." />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />