.accordion {
    @include main-panel;
    @include main-spacing;
    cursor: pointer;
    padding: calc($font-size-accordion*0.8);
    width: 100%;
    text-align: center;
    font-size: $font-size-accordion;
    font-variant: all-petite-caps;
    border: none;
    transition: padding .2s ease-out, left .2s ease-out, background-color .2s, color .2s, margin-bottom .2s steps(1, end);
    @media (min-aspect-ratio:1/1) {
        padding: calc($font-size-accordion-desktop);
        font-size: $font-size-accordion-desktop;
    }
}

.accordion.active {
    color: $on-primary;
    background-color: $primary;
    opacity: 0.8;
    padding: calc($font-size-accordion * 1.5);
    margin-bottom: 0;
    transition: padding .2s ease-out, left .2s ease-out, background-color .2s, color .2s, margin-bottom 0s;
    @media (min-aspect-ratio:1/1) {
        padding: calc($font-size-accordion-desktop*1.5);
    }
}

.accordion-icon {
    content: ">";
    opacity: 0.33;
    font-weight: bolder;
    position: absolute;
    rotate: 90deg;
    transition: rotate .2s;
}

.accordion:after {
    @extend .accordion-icon;
    right: 3vw;
    float: right;
    margin-right: 5px;
}

.accordion.active:after {
    rotate: -90deg;
}

.accordion::before {
    @extend .accordion-icon;
    left: 3vw;
    float: left;
    margin-left: 5px;
}

.accordion.active::before {
    rotate: 270deg;
}

.accordion-panel {
    @include main-panel;
    @include main-spacing;
    background-color: $background;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, 
        padding-top 0.2s ease-out, padding-bottom 0.2s ease-out, 
        margin-top 0.2s ease-out, margin-bottom 0.2s ease-out;
    &.closed {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}