$primary: #28385e;
$primary_variant: #202e4f;
$on_primary: #fff;

$secondary: #a4cdd6;
$secondary_variant: #7dadb8;
$on_secondary: #000;

$background: #292d37;
$on_background: #fff;
$surface: #6b7893; //#4c5464;
$on_surface: #fff;

$error: #b00020;
$on_error: #fff;

$font-size-title: 5vw;
$font-size-title-desktop: calc($font-size-title / 4);
$font-size-title-sub: 2vw;
$font-size-title-sub-desktop: calc($font-size-title-sub / 4);

$font-size-accordion: 4vw;
$font-size-accordion-desktop: calc($font-size-accordion / 4);

$font-size-bread: 3.4vw;
$font-size-bread-desktop: calc($font-size-bread / 4);

$font-size-foot: 2.75vw;
$font-size-foot-desktop: calc($font-size-foot / 4);