<button id="information-accordion" class="accordion">Information</button>
<div class="information accordion-panel closed" inert>
    <p>
        This is a remake of <a href="https://legendarypkmn.net/">LegendaryPKMN.net</a>'s Pokémon IV Calculator.
        I made this because the original is honestly quite terrible to use on my phone and I wanted something simple to use on the go.
    </p>
    <p>
        (Note this calculator is not for Pokémon GO)
    </p>
    <p>
        The sources can be found on GitHub.
        <br>
        <a href="https://github.com/Uwazouri/ivcalc-mobile">Mobile Adjusted Version</a>
        <br>
        <a href="https://github.com/LegendaryPKMN/ivcalc">Original by LegendaryPKMN</a>
    </p>
    <p>
        <i><b>How to Use</b></i>
        <br>
        1. Enter pokémon data
        <br>
        2. Enter level stats and ev data
        <br>
        3. Press calculate and check output
    </p>
    <p>
        Your data is saved in the url
    </p>
</div>