<button id="level-accordion" class="accordion">Level Data</button>
<div class="levels accordion-panel closed" inert>
    <div class="grid-container">
        <div class="grid-row title-row">
            <div>Level</div>
            <div class="odd">HP</div>
            <div>Att</div>
            <div class="odd">Def</div>
            <div>S.Att</div>
            <div class="odd">S.Def</div>
            <div>Spd</div>
        </div>
        <div class="grid-row">
            <button class="icon-btn overall">
                <module href="/icons/delete_icon.html"></module>
                <div class="simple-fill"></div>
            </button>
            <input type="number" min="0" max="999" value="0">
            <input class="odd" type="number" min="0" max="999" value="0">
            <input type="number" min="0" max="999" value="0">
            <input class="odd" type="number" min="0" max="999" value="0">
            <input type="number" min="0" max="999" value="0">
            <input class="odd" type="number" min="0" max="999" value="0">
            <input type="number" min="0" max="999" value="0">
        </div>
    </div>
    <div class="btn-container">
        <button class="icon-btn">
            <module href="/icons/add_icon.html"></module>
        </button>
        <button class="icon-btn remove">
            <module href="/icons/add_icon.html"></module>
        </button>
    </div>
</div>